#!/usr/bin/env sh

[ ! -x "$(command -v git-fmt-diff)" ] && return

# shellcheck disable=SC2034
while read -r local_ref local_oid remote_ref remote_oid
do
    [ -z "$(echo "$local_oid" | tr -d 0)" ] && continue
    [ -z "$(echo "$remote_oid" | tr -d 0)" ] && continue

    out="$(git fmt-diff --color "$remote_oid" "$local_oid")"
    [ -z "$out" ] && continue

    printf '%s\n\n' "$out"
    printf 'Some of your changes differ from autoformatter output.\n'
    printf 'Are you sure you want to push without fixing them? [y/N] '

    exec </dev/tty
    read -r yn
    case "$yn" in
        y|Y|yes|YES|Yes) ;;
        *) echo "Aborting push"; exit 1 ;;
    esac
done
